*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

/* Navbar */
.navbar{
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
background: linear-gradient(90deg,rgba(9, 112, 153, 1) 0%, rgba(87, 197, 199, 1) 50%, rgba(94, 185, 179, 1) 100%, rgba(193, 86, 178, 1) 100%, rgba(98, 83, 237, 1) 100%);
    position:relative;
}


/* Logo */
.logo{
    transition:0.3s;
    font-size:30px;
}

.blue{
    color:#0f3342;
    font-size:42px;
    font-family:Georgia, serif;
    font-weight:bold;
}

.name{
    margin-left:10px;
    letter-spacing:4px;
    font-size:25px;
    font-weight:600;
}

/* Navigation */
.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links a{
    text-decoration:none;
    color:#111;
    font-size:20px;
    letter-spacing:1px;
}

.nav-links a:hover{
    color:#1ea7e1;

}


body{
    background:#f3f3f3;
    overflow-x:hidden;
}
/* Hero Section */

.hero{
    height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 7%;
    position:relative;
}



body{
    background:#f3f3f3;
    overflow-x:hidden;
}

/* Contact */
.contact{
    
    background-image: linear-gradient( 101.9deg,  rgba(239,151,189,1) -13.9%, rgba(204,239,243,1) 34.6%, rgba(227,241,202,1) 54.2%, rgba(237,187,187,1) 88.6% );    
}

form{
    max-width:600px;
    margin:auto;
    
}

input, textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border: #111 solid 1px;
    border-radius:20px;
    padding:30px;
}

button{
    padding:12px 20px;
    border-radius:20px;
    margin-left: 250px;
    background:black;
    color:white;
    border:none;
    cursor:pointer;
}

 /* Footer */
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:50px 0;
}